body{
    padding: 0px;
    background-color: black;
}
/*inicio de menu*/
#menu{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: end;
    list-style: none;
    flex-direction: row;
padding-right: 15px;
padding-bottom: 10px;
margin: 0px;
    }
#menu li a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
/*fin del menu*/
.foto-equipo{
    height: 750px;
    width: 1340px;
    margin: 0px;
    padding: 0px;
    justify-content: center;    
}
.horarios{
    height: 500px;
    width: 1340px;
}
/*inicio del footer*/
.direccion{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: end;
}
#formulario{
   color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    display: flex;
    justify-content: right; 
}
#redes{
display: flex; 
flex-direction: row-reverse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
}
.texto-redes{
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.biografia{
   color: white;
  margin: 15px;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
}
.imagenes{
    margin-bottom: 10px;
border-color: rgb(255, 255, 255);
align-content: center;

}

#biografias{
display: grid;
grid-template-areas: "nav img imagenes"
"nav img header"
"nav p section";
}

/* inicia el modelo mobile */
@media screen and (max-width:320px) 
{
    #menu
    {display: block;
        width: 100%;
    }

}
@media screen and (max-width:320px){
   #foto-equipo{
    width: 150px;
    height: 50px;
   }

}

@media screen and (max-width:320px){
    #formulario{
        justify-content: left;

    }
}
@media screen and (max-width:320px){
    #redes{
        font-size: 15px;
    }
}
@media screen and (max-width:320px){
    .biografia{
    font-size: 15px;


    }
}
@media screen and (max-width:320px) {
    #mapa{
        width: 50px;
        height: 50px;
    }
    
}
@media screen and (max-width:320px) {
    .foto-equipo{
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width:320px) {
    .horarios{
        width: 300px;
    }
    
}
@media screen and (max-width:320px) {
    .mapa{
        width: 300px;
        height: 300px;
    }
}